<?xml version="1.0"?>
<!--
/**
 * @author @haihv433
 * @copyright Copyright (c) 2020 Goomento (https://store.goomento.com)
 * @package Goomento_PromoCountdown
 * @link https://github.com/Goomento/PromoCountdown
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Goomento_PromoCountdown" setup_version="1.0.0">
        <sequence>
            <module name="Goomento_Base"/>
        </sequence>
    </module>
</config>
